.hero {
    height: 650px;
    background-size: cover;
    align-items: center;
    display: flex;
    padding: 1.6rem;
    position: relative;
    overflow: hidden;

}
.hero__container {
    height: 290px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hero video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    

}

.hero__container-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__container-center video{
    top: 50%;
    left: -30%;
    position: absolute;
}

.hero__container-video{
    z-index: 10;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero__container-text{
    flex: 1;
    justify-content: center;
z-index: 10;
}
.hero__container-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100rem;

}
.hero__container-text{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}
.hero__container-text h2{
    color: white;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: center;
    z-index: 1;
    

}
.hero__container-text h3{
    color: white;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1.8rem;
    text-align: center;
    z-index: 1;
}

.hero__container-center p{
    font-size: 0.90rem;
    color: white;
    font-weight: 300;
    line-height: 1rem;
    word-spacing: 0.2rem;
    margin-left: 26rem;
    line-height: 1rem;
    margin-top: 1.2rem;

    
}
.hero__container-center video{
    display: flex;
    margin-left: 20rem;
    margin-bottom: 10rem;

}


.hero__footer{
    position: absolute;
  bottom: 1rem;
   display: flex;
    }
.hero__footer-image{
    width: 30px;
    height: 40px;
display: flex;
margin-left: 4.7rem;
margin-bottom: 1.5rem;
}

